.container {
    flex: auto;
    background-image: url(./../Home/img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
}

.box {
    padding: 1rem;
    width: 50%;
    background: #fff;
    border-radius: 5px;
}
